<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManagementSystem</display-name>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSubjectServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.UpdateSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddExamServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.AddExamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateExamServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.UpdateExamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteExamServlet</servlet-name>
    <servlet-class>com.oop_2019.servlets.DeleteExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddExamServlet</servlet-name>
    <url-pattern>/AddExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateExamServlet</servlet-name>
    <url-pattern>/UpdateExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteExamServlet</servlet-name>
    <url-pattern>/DeleteExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>